<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="phpunit.php" convertNoticesToExceptions="false">
    <php>
        <includePath>.</includePath>
        <server name="SERVER_NAME" value="localhost"/>
    </php>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>